@media(prefers-color-scheme: light) {
    :root{
        --byn: #ffffff;
        --nyb: #000000;
        --hover: #ffca18b5;
        --fondo-body: #87ceeb80;
        --boton-hover: #eeeeee;
        --fondo-body-1: #637883;
    }
    .noche { opacity: 0; }
    .dia { opacity: 100%; }
    .home :hover .dia { opacity: 0; }
    .home :hover .noche { opacity: 100%; }

    .navbar-toggler-icon {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;}
}
@media(prefers-color-scheme: dark) {
    :root{
        --byn: #ffffff;
        --nyb: #000000;
        --hover: #ffca18b5;
        --fondo-body: #87ceeb80;
        --boton-hover: #eeeeee;
        --fondo-body-1: #637883;
    }
    .noche { opacity: 0; }
    .dia { opacity: 100%; }
    .home :hover .dia { opacity: 0; }
    .home :hover .noche { opacity: 100%; }

    .navbar-toggler-icon {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;}
}

.carousel {
    background-color: var(--fondo-body-1);
    padding-top: 20px;
}
.carousel-inner {
    z-index: 1 !important;
    position: relative;
}
.carousel-item, .inicio {
    height: 30em;
    margin-bottom: 3%;
    object-fit: scale-down;
}
.carousel-control-prev, .carousel-control-next {
    height: 0;
    position: absolute;
    top: 50%;
}

.dia {
    position: relative !important;
}
html, body {
    padding-top: 3rem;
    background-color: var(--fondo-body);
    width: 100%;
    overflow-x: hidden;
}

.img-logo, .mapa {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.iframe {
    position: relative;
}

#mapa {
    margin-top: 3%;
    position: relative;
    padding: 0;
}
#mapa a {
    margin: 10px;
    position: absolute;
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    right: 0;
}
#mapa img {
    width: 100%;
    top: 0;
    left: 0;
}


iframe {
    width: 100%;
    height: inherit;
    overflow: hidden;
}

.carousel-comida {
    position: relative;
    width: 100%;
    padding: 0;
    height: 450px;
}
@media (min-width: 576px) {
    .carousel-comida {
        height: 450px;
    }
}
@media (min-width: 768px) {
    .carousel-comida {
        height: 210px;
    }
}
@media (min-width: 992px) {
    .carousel-comida {
        height: 190px;
    }
}
@media (min-width: 1200px) {
    .carousel-comida {
        height: 195px;
    }
}
@media (min-width: 1400px) {
    .carousel-comida {
        height: 240px;
    }
}
