@media(prefers-color-scheme: light) {
    :root{
        --byn: #ffffff;
        --nyb: #000000;
        /*--hover: #000000;*/
        --ul-navbar-hover: #000000;
        /*--fondo-body: #87ceeb80;*/
        --fondo-carousel-comida: #87ceeb80;
        /*--boton-hover: #eeeeee;*/
        --boton-navbar-hover: #eeeeee;
        /*--fondo-body-1: #325b70;*/
        --fondo-carousel-header: #325b70;
        /*--mapa-container: #4682b4;*/
        --fondo-mapa: #4682b4;
        --input: #ffffff;
    }
    .noche { opacity: 0; }
    .dia { opacity: 100%; }
    .home :hover .dia { opacity: 0; }
    .home :hover .noche { opacity: 100%; }

    .navbar-toggler-icon {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;}
}
@media(prefers-color-scheme: dark) {
    :root{
        --byn: #000000;
        --nyb: #ffffff;
        /*--hover: #ffca18b5;*/
        --ul-navbar-hover: #ffca18b5;
        /*--fondo-body: #87ceeb80;*/
        --fondo-carousel-comida: #1c1c1c;
        /*--boton-hover: #eeeeee;*/
        --boton-navbar-hover: #111111;
        /*--fondo-body-1: #637883;*/
        --fondo-carousel-header: #454545/*#637883*/;
        /*--mapa-container: #4682b4;*/
        --fondo-mapa: #282828;
        --input: #454545;
    }
    .noche { opacity: 100%; }
    .dia { opacity: 0; }
    .home :hover .dia { opacity: 100%; }
    .home :hover .noche { opacity: 0; }

    .navbar-toggler-icon {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;}
}

a[onclick^=conocenos] {
    color: var(--conocenos);
    text-decoration: none;
}
a[onclick^=conocenos] :hover {
    color: var(--hover-footer);
}

.btn-primary {
    border: 2px var(--boton-navbar-hover) solid;
    background-color: var(--fondo-carousel-comida);
}
.btn-primary:hover {
    color: var(--byn) !important;
    background-color: var(--ul-navbar-hover);
    border: 2px var(--boton-navbar-hover) solid;
}

.carta {
    background-color: var(--fondo-carousel-header);
}

.carousel {
    background-color: var(--fondo-carousel-header);
    padding: 30px 0 25px;
}
.carousel-inner {
    z-index: 1 !important;
    position: relative;
    padding: 0;
}
.carousel-item, .inicio {
    object-fit: scale-down;
}
.carousel-control-prev, .carousel-control-next {
    height: 0;
    position: absolute;
    top: 50%;
}
.carousel-caption {
    position: absolute;
    right: 10%;
    bottom: 0.75rem;
    left: 30%;
    padding: 0.75rem 0;
    color: var(--byn);
    text-align: center;
}
.carousel-item span {
    background-color: var(--nyb);
}
@media (min-width: 1200px) {
    .carousel-item p {
        font-size: 150%;
    }
}

.carousel-comida {
    position: relative;
    width: 100%;
    height: 450px;
    margin: 25px auto;
}
@media (min-width: 576px) {
    .carousel-comida {
        height: 450px;
    }
}
@media (min-width: 768px) {
    .carousel-comida {
        height: 210px;
    }
}
@media (min-width: 992px) {
    .carousel-comida {
        height: 190px;
    }
}
@media (min-width: 1200px) {
    .carousel-comida {
        height: 195px;
    }
}
@media (min-width: 1400px) {
    .carousel-comida {
        height: 240px;
    }
}

.carousel-iframe {
    width: 100%;
    height: inherit;
    overflow: hidden;
}

.container {
    padding: 0;
}
@media (min-width: 768px){
    .dere, .izq {
        width: 100%;
    }
    .dere, .dere label {
        text-align: right;
    }
}

.dia {
    position: relative !important;
}
html, body {
    padding-top: 56px;
    position: absolute;
    top: 0;
    background-color: var(--fondo-carousel-comida);
    width: 100%;
    overflow-x: hidden;
}

.iframe {
    position: relative;
}

.img-logo, .mapa {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

input, textarea {
    background-color: var(--input);
}
#sub input:hover {
    background-color: transparent;
    color: var(--hover-footer);
    border-color: transparent;
}

@media(prefers-color-scheme: dark) {
    img[src="header/inicio.jpg"], img[src="img/carta.jpg"] {
        filter: brightness(0.8);
    }
}

.letra {
    color: var(--nyb);
}

#mapa-container {
    padding: 25px 0;
    background-color: var(--fondo-mapa);
}
#mapa {
    margin: 0 auto;
    position: relative;
    padding: 0;
}
#mapa a {
    margin: 10px;
    position: absolute;
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    right: 0;
}
#mapa img {
    width: 100%;
    top: 0;
    left: 0;
}

#myform {
    margin: 25px 0;
}
#myform input, #myform textarea {
    width: 100%;
}
::-webkit-input-placeholder {
    text-align: center;
}

fieldset p {
    margin: 1rem 0;
}

.sep {
    margin: 25px auto;
    color: var(--nyb);
}
.sep h2 {
    margin: 0;
}
.sep > h2 {
    margin-bottom: 30px;
}
.sep a {
    color: var(--conocenos);
    text-decoration: none;
}
.sep a:hover {
    color: var(--hover-footer);
}

@media (max-width: 768px){
    .sugerencias .container :not(#footer) {
        text-align: center;
    }
}