@font-face {
    font-family: "Cooper Black";
    src: url("baresp.woff");
}

:root{
    --principal: #a9483f;
    --fondo: #efe2ba;
    --fondo2: #d2c18f;
    --nhf: #ffffff;
    --texto: #4d4d4d;
    --border: #3c3c3c;
    --bw: #000000;
    --wb: #ffffff;
    --a: #87ceeb;
    --a2: #0066ff;
    --input: #f6f6f6;
    --negro: #000000;
    --blanco: #ffffff;
}
@media(prefers-color-scheme: dark) {
    :root {
        --principal: #64221d;
        --fondo: #2c3034;
        --fondo2: #2b2b2b;
        --nhf: #e5e5e5;
        --texto: #e5e5e5;
        --border: #d4d4d4;
        --bw: #ffffff;
        --wb: #000000;
        --a: #87ceeb;
        --a2: #87ceeb;
        --input: #565656;
        --negro: #000000;
        --blanco: #ffffff;
    }
}

body{
    background-color: var(--fondo);
    z-index: -3;
}

.navbar {
    background-color: var(--principal);
    text-align: center;
}
.navbar a{
    font-family: "Cooper Black", serif;
    font-size: 30px;
    color: var(--nhf);
}
.navbar a:hover{
    color: var(--principal);
}

#inicio {
    height: 30em;
    margin-bottom: 3%;
}
#carta {
    height: 30em;
    margin-bottom: 3%;
}
img{
    width: 100%;
}

p{
    font-size: 20px;
    margin: 0;
}
#sup p{
    cursor: pointer;
}
#sup p:hover{
    background-color: var(--principal);
    color: var(--nhf);
    border-radius: 16px;
}
#sup .col-md-5{
    text-align: center;
    border: 3px solid var(--border);
    border-radius: 16px;
    color: var(--bw);
    background-color: var(--fondo2);
    padding: 0;
    cursor: pointer;
}

#mapa{
    width: 100%;
    margin-top: 3%;
}
#mapa a{
    margin: 10px;
    position: absolute;
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    right: 0;
}

h3, h2{
    text-align: center;
    color: var(--texto);
    margin: 0;
}
h3 a, a h2{
    cursor: pointer;
    color: var(--a2);
}

#takeaway{
    margin: 5% 0 3%;
}

.sug, .takeaway{
    margin: 40px 30px 0;
}
form{
    margin: 5px 30px 0;
}
.sug p, .takeaway p{
    color: var(--texto);
    hyphens: manual;
    text-align: justify;
    font-size: 18px;
}

input{
    width: 100%;
}
label{
    margin: 2px 0 0;
    font-size: 20px;
    color: var(--texto);
}
fieldset{
    margin-top: 5px;
}
.col-xs-3, .col-md-2{
    padding: 0;
}
textarea{
    padding: 3px 5px;
    margin: 3px 0 0;
    width: 100%;
}
textarea, input{
    background-color: var(--input);
    color: var(--bw);
}
::-webkit-input-placeholder, -ms-input-placeholder, placeholder {
    color: var(--negro);
}
#sub input{
    color: var(--bw);
}
#sub input:hover{
    background-color: var(--principal);
    color: var(--nhf);
}

#popup{
    background: linear-gradient(#000000b2, #000000b2);
}
.modal-content{
    color: var(--bw);
    background-color: var(--input);
    margin: 20% auto;
    width: 350px;
    height: 200px;
    border-radius: 10px;
    align-items: center;
}
.texto{
    color: var(--bw);
    background-color: var(--input);
    align-items: center;
    border-radius: 10px;
    padding: 70px 0;
}
.texto h3{
    color: var(--bw);
}
.cerrar {
    color: var(--bw);
    float: right;
    height: 28px;
    width: 28px;
    font-size: 28px;
    font-weight: bold;
}
.cerrar:hover{
    color: var(--wb);
    text-decoration: none;
    cursor: pointer;
}

footer{
    background-color: var(--principal);
    color: var(--nhf);
    margin: 15px;
    z-index: -2;
}

.info{
    font-size: 15px;
    margin-left: 5px;
    margin-top: 15px;
}

#datos{
    margin-top: 30px;
}

#nosotros p{
    padding-left: 5%;
    position: relative;
    z-index: 3;
    margin: 0 15px;
}
#nosotros a{
    color: var(--a);
}

.center{
    display: flex;
    justify-content: left;
    align-items: center;
}
.main{
    margin: 20px 15px 0;
}
.box{
    width: 120px;
    height: 120px;
    position: relative;
    margin: 0 15px;
}
.icon-box, .inner-box{
    position: absolute;
    margin-top: 2%;
    width: 80%;
    height: 80%;
    background: var(--principal) url("img/ig.png") no-repeat;
    background-size: contain;
    color: var(--nhf);
    border-radius: 10px;
    cursor: pointer;
    transition: all .4s;
    z-index: 1;
}

<<<<<<< Updated upstream
.ib-f{
    background: var(--principal) url("img/fb.png") no-repeat;
    background-size: contain;
}
.box:hover .icon-box{
    transform: translateY(-30px);
}
.inner-box{
    background: var(--principal);
    align-items: flex-end;
    justify-content: center;
    z-index: 0;
    color: var(--nhf);
}
.inner-box p{
    font-size: 15px;
    margin-bottom: 5px;
=======
@media (max-width: 768px){
    .sugerencias .container :not(#footer) {
        text-align: center;
    }
}

img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
>>>>>>> Stashed changes
}