.carousel-content {
    width: 100%;
}
.carousel-control-next, .carousel-control-prev {
    border: 0;
}
#body-carousel {
    background-color: transparent;
}

@media (max-width: 768px) {
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
}