
.navbar {
    background-color: var(--byn);
    top: 0;
    z-index: 6;
    width: 100%;
}
.nav-logo {
    height: 3.5rem;
    margin: 0 20px;
    position: relative;
}
.nav-boton :hover {
    background-color: var(--boton-navbar-hover) !important;
}
.navbar-toggler {
    color: transparent !important;
    border-color: transparent !important;
}
.navbar-collapse {
    position: relative;
}
.nav-link {
    text-align: end;
    color: var(--nyb) !important;
    font-size: 20px;
    padding: 6px 1.5rem !important;
}
.nav-item {
    border-bottom: 2px var(--byn) solid;
    background-color: var(--fondo-carousel-comida);
}
@media (min-width: 768px){
    .backcol-md-byn {
        background-color: var(--byn);
    }
}
.nav-item :hover {
    color: var(--byn) !important;
    background-color: var(--ul-navbar-hover);
}
.nav-lat {
    clear: both;
    background-color: var(--byn);
    width: 1.5rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}