/*Popup*/
.cerrar {
    color: var(--nyb);
    float: right;
    position: absolute;
    right: 15px;
    height: 28px;
    width: 28px;
    font-size: 28px;
    font-weight: bold;
}
.cerrar:hover {
    color: var(--byn);
    text-decoration: none;
    cursor: pointer;
}
.modal-content {
    color: var(--nyb);
    background-color: var(--fondo-popup);
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: 20%;
    bottom: auto;
}
.modal {
    height: -webkit-fill-available;
}
#popup {
    background: linear-gradient(#000000b2, #000000b2);
    display: block;
}
.texto {
    color: var(--nyb);
    background-color: transparent;
    text-align: center;
    padding: 10% 0;
}
.texto h3 {
    color: var(--nyb);
}
.texto p {
    margin: 0;
}


/* Conocenos */
#cuerpo_conocenos {
    margin: 25px 0;
    color: var(--nyb);
}
#cuerpo {
    font-size: 20px;
    margin: 0 3%;
}
#cuerpo2 {
    display: none;
    font-size: 20px;
    margin: auto 3%;
    content-visibility: hidden;
}

#tapas {
    height: 20rem;
    width: auto;
    filter: blur(0);
    filter: brightness(2.5);
}
#tapitas {
    height: 20rem;
    width: auto;
    content-visibility: hidden;
}

@media (max-width: 440px) {
    .imagenes {
        text-align: center;
    }
    #tapitas {
        display: none;
    }
}
@media (min-width: 440px) {
    #tapa {
        display: flex;
        flex-direction: row;
    }
    .imagenes {
        padding-left: 5%;
        text-align: left;
    }
    #tapitas {
        display: none;
    }
    .text {
        text-align: right;
    }
    #cuerpo {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (min-width: 500px){
    #tapa {
        display: block;
    }
    .imagenes {
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    #tapas {
        text-align: left;
        margin-right: auto;
    }
    #tapitas {
        position: relative;
        right: 0;
        display: block;
        content-visibility: visible;
    }
    .text {
        text-align: left;
    }
    #cuerpo {
        transform: none;
        margin: 0;
    }
}

@media (min-width: 768px) {
    #cuerpo {
        display: none;
    }
    #cuerpo2 {
        display: block;
    }
    #tapitas {
        content-visibility: hidden;
    }
}

#tapas:hover ~ #cuerpo2 , #tapas:hover ~ #tapitas {
    content-visibility: visible;
}